.Home {

    &__hero {
        max-width: $tablet;
        margin: 0 auto;
        padding: $size-20 $size-4;
        text-align: center;
        user-select: none;
    }

    &__title {
        font-weight: $font-black;
        @include font-size($text-8xl);
        line-height: $text-8xl;
        display: flex;
        flex-direction: column;
        font-family: $font-headline;
        
        @include breakpoint(phone-landscape) {
            @include font-size($text-10xl);
            line-height: $text-10xl;
        }

        span {
            display: inline-block;
            position: relative;
            overflow: hidden;
            padding: $size-0 $size-2;
            align-self: center;

            &:before, &:after {
                display: block;
                content: '';
                width: 100%;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
            }
            
            &:before {
                background: $color-white;
                height: 20%;
                z-index: 5;
                box-shadow: 0px $size-4 $size-4 $size-4 rgba($color-grey-900, 0.3);
            }
        }
    }

    &__subtitle {
        margin-top: $size-8;
        line-height: $text-4xl;
        color: $color-grey-700;
        font-weight: $font-semibold;
    }

    &__feed {
        max-width: $phone-landscape;
        margin: 0 auto;

        @include between-breakpoints(0, $tablet) {
            padding: $size-0 $size-8;
        }
    }
}