.ArticlePreview {

    h1 {
        @include font-size($text-3xl);
        font-weight: $font-black;
        font-family: $font-headline;
        position: relative;
        display: inline-block;
        text-shadow:    2px 2px $color-white,
                        2px -2px $color-white,
                        -2px 2px $color-white,
                        -2px -2px $color-white;

        &:after {
            display: block;
            position: absolute;
            bottom: 4px;
            content: '';
            height: 2px;
            left: 0;
            width: 100%;
            background: $color-white;
            background-position: $size-0;
            z-index: -1;
        }
    }

    a {
        display: block;
        padding: $size-16 $size-0;
        color: $font-color;
        text-decoration: none;
    }

    &__meta {
        display: flex;
        @include font-size($text-xs);
    }

    &__tags {
        margin: $size-0 -#{$size-1};
        display: inline-block;

        span {
            height: $size-5;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: $color-grey-500 solid $size-px;
            border-radius: $size-1;
            padding: $size-0 $size-1;
            margin: $size-1;
        }
    }

    &__date {
        height: $size-5;
        display: flex;
        @include font-size($text-xs);
        color: $color-grey-600;
        letter-spacing: 1px;
        border-radius: $size-1;
        margin: $size-1 $size-4 $size-1 $size-0;
    }

    &:hover {

        h1:after {
            background: linear-gradient(0.25turn, $color-white, $color-white, $color-white, $color-pink-600, $color-red-400, $color-pink-600, $color-white, $color-white);
            background-size: 1000px 100%;
            animation: zoomzoom 8000ms $animate__cubic-bezier--enter infinite;
        }
    }
}


@keyframes zoomzoom {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 10000px;
    }
  }