.ArticlePreview {
    // text-align: center;

    h1 {
        @include font-size($text-3xl);
        font-weight: $font-black;
        font-family: $font-headline;
    }

    a {
        display: block;
        padding: $size-16 $size-0;
        color: $font-color;
        text-decoration: none;
    }

    &__meta {
        display: flex;
        @include font-size($text-xs);
    }

    &__tags {
        margin: $size-0 -#{$size-1};
        display: inline-block;

        span {
            height: $size-5;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: $color-grey-500 solid $size-px;
            border-radius: $size-1;
            padding: $size-0 $size-1;
            margin: $size-1;
        }
    }

    &__date {
        height: $size-5;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: $size-1;
        margin: $size-1 $size-4 $size-1 $size-0;
    }

    &:hover {

        h1 {
            color: $color-pink-500;
        }

        // .purple {
        //     color: $color-purple-500;
        // }

        // .yellow {
        //     color: $color-yellow-700;
        // }

        // .orange {
        //     color: $color-orange-600;
        // }

        // .red {
        //     color: $color-red-500;
        // }

        // .blue {
        //     color: $color-blue-500;
        // }

        // .green {
        //     color: $color-green-600;
        // }

        // .pink {
        //     color: $color-pink-400;
        // }
    }
}