$color-white: #fff;

// grey
$color-grey-100: hsla(32, 30, 97, 1);
$color-grey-200: hsla(31, 25, 92, 1);
$color-grey-300: hsla(31, 20, 87, 1);
$color-grey-400: hsla(30, 15, 78, 1);
$color-grey-500: hsla(30, 11, 65, 1); // -- primary
$color-grey-600: hsla(29, 9, 55, 1);
$color-grey-700: hsla(29, 8, 43, 1);
$color-grey-800: hsla(28, 8, 35, 1);
$color-grey-900: hsla(28, 12, 28, 1);

// yellow
$color-yellow-100: hsla(49, 100, 95, 1);
$color-yellow-200: hsla(49, 100, 85, 1);
$color-yellow-300: hsla(49, 100, 75, 1);
$color-yellow-400: hsla(49, 100, 65, 1);
$color-yellow-500: hsla(49, 100, 50, 1); // -- primary
$color-yellow-600: hsla(49, 95, 45, 1);
$color-yellow-700: hsla(49, 90, 40, 1);
$color-yellow-800: hsla(49, 85, 35, 1);
$color-yellow-900: hsla(49, 80, 30, 1);

// red
$color-red-100: hsla(4, 82, 96, 1);
$color-red-200: hsla(4, 81, 85, 1);
$color-red-300: hsla(4, 79, 71, 1);
$color-red-400: hsla(4, 77, 60, 1);
$color-red-500: hsla(4, 75, 48, 1); // -- primary
$color-red-600: hsla(4, 70, 40, 1);
$color-red-700: hsla(4, 65, 35, 1);
$color-red-800: hsla(4, 60, 30, 1);
$color-red-900: hsla(4, 55, 20, 1);

// blue
$color-blue-100: hsla(198, 100%, 96%, 1);
$color-blue-200: hsla(196, 100%, 87%, 1);
$color-blue-300: hsla(197, 100%, 75%, 1);
$color-blue-400: hsla(196, 100%, 59%, 1);
$color-blue-500: hsla(196, 100%, 44%, 1); // -- primary
$color-blue-600: hsla(196, 90%, 39%, 1);
$color-blue-700: hsla(196, 80%, 34%, 1);
$color-blue-800: hsla(197, 70%, 29%, 1);
$color-blue-900: hsla(197, 61%, 24%, 1);

// green
$color-green-100: hsla(143, 100%, 94%, 1);
$color-green-200: hsla(142, 90%, 84%, 1);
$color-green-300: hsla(142, 80%, 75%, 1);
$color-green-400: hsla(141, 73%, 66%, 1);
$color-green-500: hsla(142, 60%, 53%, 1);
$color-green-600: hsla(142, 100%, 34%, 1); // -- primary
$color-green-700: hsla(141, 90%, 30%, 1);
$color-green-800: hsla(141, 70%, 27%, 1);
$color-green-900: hsla(141, 61%, 20%, 1);

// purple
$color-purple-100: hsla(306, 100%, 94%, 1);
$color-purple-200: hsla(307, 95%, 84%, 1);
$color-purple-300: hsla(307, 90%, 72%, 1);
$color-purple-400: hsla(307, 78%, 60%, 1);
$color-purple-500: hsla(307, 91%, 43%, 1);
$color-purple-600: hsla(307, 95%, 36%, 1); // -- primary
$color-purple-700: hsla(307, 87%, 30%, 1);
$color-purple-800: hsla(307, 75%, 25%, 1);
$color-purple-900: hsla(307, 64%, 21%, 1);

// orange
$color-orange-100: hsla(26, 100%, 90%, 1);
$color-orange-200: hsla(26, 95%, 80%, 1);
$color-orange-300: hsla(26, 96%, 70%, 1);
$color-orange-400: hsla(26, 98%, 60%, 1);
$color-orange-500: hsla(26, 100%, 50%, 1); // -- primary
$color-orange-600: hsla(26, 100%, 42%, 1);
$color-orange-700: hsla(26, 100%, 34%, 1);
$color-orange-800: hsla(26, 100%, 27%, 1);
$color-orange-900: hsla(26, 100%, 20%, 1);

// Primary
$color-primary-100: $color-red-100;
$color-primary-200: $color-red-200;
$color-primary-300: $color-red-300;
$color-primary-400: $color-red-400;
$color-primary-500: $color-red-500;
$color-primary-600: $color-red-600;
$color-primary-700: $color-red-700;
$color-primary-800: $color-red-800;
$color-primary-900: $color-red-900;