/*
 *  User Select / Text Highlight
 */

    $highlight-selection: #000;
    $highlight-font-color: #fff;


/*
 *  Styling for HTML and Body elements
 */

    @mixin html() {
        background-color: $color-white;
        overflow-y: scroll;
        height: 100%;
    }

    @mixin body() {
        // background-color: $color-white;
        height: 100%;
    }
